{% extends "header.html" %}

{% block main_content %}
	 <body>

	  <div class="container">
      <h3><b><i><u>Overview</u></i></b></h3>
      <p>Breast cancer is cancer that forms in the cells of the breasts. After skin cancer, breast cancer is the most common cancer diagnosed in women in the United States. Breast cancer can occur in both men and women, but it's far more common in women. Substantial support for breast cancer awareness and research funding has helped create advances in the diagnosis and treatment of breast cancer. Breast cancer survival rates have increased, and the number of deaths associated with this disease is steadily declining, largely due to factors such as earlier detection, a new personalized approach to treatment and a better understanding of the disease.</p>
      <h3><b><i><u>Symptoms</u></i></b></h3>
      <p>Signs and symptoms of breast cancer may include:
        <ul>
          <li>A breast lump or thickening that feels different from the surrounding tissue</li>
          <li>Change in the size, shape or appearance of a breast</li>
          <li>Changes to the skin over the breast, such as dimpling</li>
          <li>A newly inverted nipple</li>
          <li>Peeling, scaling, crusting or flaking of the pigmented area of skin surrounding the nipple (areola) or breast skin.</li>
          <li>Redness or pitting of the skin over your breast, like the skin of an orange</li>
        </ul>
     </p>




    </div>

	 </body>
{% endblock %}
