{% extends "header.html" %}
{% block main_content %}
	 <body>
	  <div class="container-fluid">
      <h3><b><u><i>Prevention</i></u></b></h3>
			<h4>Breast cancer risk reduction for women with an average risk</h4>
			<p>Making changes in your daily life may help reduce your risk of breast cancer. Try to:</p>
			<div class="row">
				<ol>
					<li><p><b>Ask your doctor about breast cancer screening.</b> Discuss with your doctor when to begin breast cancer screening exams and tests, such as clinical breast exams and mammograms.</p><p>Talk to your doctor about the benefits and risks of screening. Together, you can decide what breast cancer screening strategies are right for you.</p></li>

					<li><p><b>Become familiar with your breasts through breast self-exam for breast awareness.</b> Breast awareness can't prevent breast cancer, but it may help you to better understand the normal changes that your breasts undergo and identify any unusual signs and symptoms.</p><p>Women may choose to become familiar with their breasts by occasionally inspecting their breasts during a breast self-exam for breast awareness. If there is a new change, lumps or other unusual signs in your breasts, talk to your doctor promptly.</p></li>

					<li><p><b>Drink alcohol in moderation, if at all.</b>Limit the amount of alcohol you drink to no more than one drink a day, if you choose to drink.</p></li>

					<li><p><b>Exercise most days of the week.</b>Aim for at least 30 minutes of exercise on most days of the week. If you haven't been active lately, ask your doctor whether it's OK and start slowly.</p></li>

					<li><p><b>Limit postmenopausal hormone therapy.</b>Combination hormone therapy may increase the risk of breast cancer. Talk with your doctor about the benefits and risks of hormone therapy.</p><p>Some women experience bothersome signs and symptoms during menopause and, for these women, the increased risk of breast cancer may be acceptable in order to relieve menopause signs and symptoms.</p><p>    To reduce the risk of breast cancer, use the lowest dose of hormone therapy possible for the shortest amount of time.</p></li>

					<li><p><b>Maintain a healthy weight.</b>If your weight is healthy, work to maintain that weight. If you need to lose weight, ask your doctor about healthy strategies to accomplish this. Reduce the number of calories you eat each day and slowly increase the amount of exercise.</p></li>

					<li><p><b>Choose a healthy diet.</b>Women who eat a Mediterranean diet supplemented with extra-virgin olive oil and mixed nuts may have a reduced risk of breast cancer. The Mediterranean diet focuses mostly on plant-based foods, such as fruits and vegetables, whole grains, legumes, and nuts. People who follow the Mediterranean diet choose healthy fats, such as olive oil, over butter and fish instead of red meat.</p></li>

				</ol>
				<ul>
					<h3><b><u><i>Breast cancer risk reduction for women with a high risk</i></u></b></h3>
					<p>If your doctor has assessed your family history and determined that you have other factors, such as a precancerous breast condition, that increase your risk of breast cancer, you may discuss options to reduce your risk, such as:</p>
					<li><b>Preventive medications (chemoprevention).</b>Estrogen-blocking medications, such as selective estrogen receptor modulators and aromatase inhibitors, reduce the risk of breast cancer in women with a high risk of the disease.<p>These medications carry a risk of side effects, so doctors reserve these medications for women who have a very high risk of breast cancer. Discuss the benefits and risks with your doctor.</p></li>
					<li><b>Preventive surgery.</b><p>Women with a very high risk of breast cancer may choose to have their healthy breasts surgically removed (prophylactic mastectomy). They may also choose to have their healthy ovaries removed (prophylactic oophorectomy) to reduce the risk of both breast cancer and ovarian cancer.</p></li>

				</ul>
			</div>
    </div>

	 </body>
{% endblock %}
